* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
  font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    padding: 15px 0;
    color: white;
}

.sec-title h2{
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    /* padding: 0 20px; */
}

.logo h1 {
    margin: 0;
    color: purple;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.nav-links li a:hover {
    color: grey;
    animation: bounceIn 1s;
}

.search-bar {
    display: flex;
    margin-right: 20px;
    color: black;
}

.search-bar input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #ebebeb;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons .login-btn,
.auth-buttons .signup-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-buttons .signup-btn {
    background-color: #f44336; 
}

.auth-buttons .login-btn:hover,
.auth-buttons .signup-btn:hover {
    background-color: #777;
}

.auth-buttons .signup-btn:hover {
    background-color: #e53935; 
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
}

.boxes-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.box-head h2{
    text-align: center;
}
.box-head{
    padding-top: 6%;
    background-color: #E6E6FA;
}
.box-content i {
    font-size: 50px;
    margin-bottom: 15px;
}

.box-content h3 {
    font-size: 17px;
    color: #333;
    font-weight: 500;
}
.pastel-blue {
    background-color: white;
}

.pastel-pink {
    background-color: white;
}

.pastel-green {
    background-color: white;
}

.pastel-yellow {
    background-color: white;
}
#box-icon-1{
    color: #1967d2;
}
#box-icon-2{
    color: #d93025;
}
#box-icon-3{
    color: #f9ab00;
}
#box-icon-4{
    color: #34a853;
} 
.shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.shape {
    position: absolute;
    opacity: 0.1;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 92, 205);
    border-radius: 50%;
    top: -40px;
    right: 1%;
}
.circle2 {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    top: 60%;
    left: 60%;
}
.circle1 {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    top: 35%;
    left: -15%;
}

.square {
    width: 60px;
    height: 60px;
    background-color: white;
    top: 50px;
    left: 20px;
}

.hexagon {
    width: 100px;
    height: 58px;
    background-color: white;
    position: relative;
    margin: 29px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 29px solid white;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 29px solid white;
}

.diamond {
    width: 50px;
    height: 50px;
    background-color: white;
    transform: rotate(45deg);
    top: 40px;
    left: 30px;
}


@media (max-width: 768px) {
    nav {
        position: absolute;
        top: 50px;
        right: 0;
        height: 50%;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s ease-in-out;
        transform: translateX(100%);
    }

    nav.active {
        transform: translateX(0);
        animation: fadeInLeft 0.5s;
        z-index: 1;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .search-bar {
        margin-top: 15px;
    }

    .hamburger {
        display: flex;
    }

    .auth-buttons {
        display: none; 
    }

    .boxes-section {
        flex-direction: column;
    }

    .box {
        width: 100%;
        max-width: 200px;
        margin-right: 12vw;
    }
    .box-head{
        padding-top: 20vw;
    }
    .box-head h2{
        font-size: 7vw;
        margin-right: 15%;
    }
    .circle{
        right: 32%;
    }
}
